@charset "utf-8";

body, div, span, a, ul, ol, li, p, em, i, s, b, input, table, tr, th, thead, tbody, tfoot, td, dl, dd, dt, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

input, select, textarea, img {
    vertical-align: middle;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
}

.clearfloat:after {
    content: '';
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.clearfloat {
    zoom: 1;
}




